:root {
  --base: #e8edf2;
  --main: #215272;
  --accent: #215272;
  --text: #3f4042;
  --border: #bbb;
  --white: #fff;
  --button-hover: #d89f03;
  --delete: #e84c3d;
  --delete-hover: #a2362a;
  --done: #00934d;
  --done-hover: #006837;
  --input: #fff;
  --ff-main: "Montserrat", sans-serif;
  --box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  --shadow-hover: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

* {
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  line-height: 1;
  font-size: 16px;
}

input,
button {
  font-family: inherit;
}

ul li {
  list-style: none;
}

.container {
  width: 650px;
  margin: 0 auto;
}

.header {
  width: 100%;
  background: var(--main);
  min-height: 80px;
}

.body {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
}

.header__title {
  font-size: 34px;
  line-height: 42px;
  letter-spacing: 1px;
  color: var(--white);
  text-shadow: var(--box-shadow);
}

.form {
  display: flex;
  align-items: center;
}

.input {
  flex: 1 1 auto;
  background-color: var(--input);
  border: 1px solid var(--border);
  border-radius: 5px;
  width: 300px;
  height: 35px;
  padding: 5px 20px;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.5px;
  box-shadow: var(--box-shadow);
}
.input:focus {
  outline: none;
  box-shadow: var(--shadow-hover);
}

.main__container {
  margin-top: 30px;
  border-radius: 5px;
  border: 1px solid var(--border);
  padding: 15px;
}

.main__form-title {
  font-size: 28px;
  line-height: 36px;
  letter-spacing: 1px;
  color: var(--text);
  text-shadow: var(--box-shadow);
}

.main__form-input {
  border-radius: 5px 0px 0px 5px;
  border: 1px solid var(--border);
  height: 23px;
  box-shadow: var(--box-shadow);
}

.input__button {
  background-color: var(--accent);
  border: 1px solid var(--border);
  border-radius: 0px 5px 5px 0px;
  width: 100px;
  height: 36px;
  color: var(--input);
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.5px;
  box-shadow: var(--box-shadow);
  text-shadow: var(--box-shadow);
}
.input__button:hover,
.input__button:active {
  border: 1px solid var(--border);
  background: var(--button-hover);
  cursor: pointer;
  box-shadow: var(--shadow-hover);
}

.main-content__title {
  font-size: 28px;
  line-height: 36px;
  letter-spacing: 1px;
  color: var(--text);
  text-shadow: var(--box-shadow);
}
.main-content__item {
  background-color: var(--input);
  border: 1px solid var(--border);
  border-radius: 5px;
  width: 100%;
  height: 36px;
  color: var(--input);
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: var(--box-shadow);
}

.item__buttons {
  padding: 0px 5px;
}

.item__button {
  border-radius: 5px;
  color: var(--input);
  font-size: 16px;
  line-height: 26px;
  box-shadow: var(--box-shadow);
}
.button__done {
  background-color: var(--done);
  border: 1px solid var(--done);
  box-shadow: var(--box-shadow);
  text-shadow: var(--box-shadow);
}

.button__done:hover,
.button__done:active {
  background-color: var(--done-hover);
  cursor: pointer;
  box-shadow: var(--shadow-hover);
}

.button__delete {
  background-color: var(--delete);
  border: 1px solid var(--delete);
  box-shadow: var(--box-shadow);
  text-shadow: var(--box-shadow);
  box-shadow: var(--shadow-hover);
}

.button__delete:hover,
.button__delete:active {
  background-color: var(--delete-hover);
  cursor: pointer;
}
